@import url("./reset.css");

/* 
---------------[Content]---------------
--- 1. GENERAL
--- 2. HEADER
--- 3. MAIN MENU
--- 4. BODY
--- 5. FOOTER
---------------------------------------
*/

/************* 1. GENERAL ***************/
a, a:active, a:visited, a:hover { color: black; text-decoration: none; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
.red {color: red; }

ul.fieldError li {
	color: red;
	list-style-type: none;
	text-align: right;
}


/************* 2. HEADER ***************/
body {
	text-align: center;
}

.container {
	background-image: url("../../images/global/header-background.png");
	display: inline-block;
	margin-top: 30px;
	height: 270px;
	width: 1100px;
	text-align: left;
}

#userInfo {	
	margin-right: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: right;
}
#userInfo .email {
	color: white;
  font-size: 15px;
  font-weight: bold;
}
#userInfo .logout {
	background-color: green;
  margin-left: 15px;
  padding: 3px 10px;
}
#userInfo .logout a {
	color: white;
}

#mainLogo {
	float: left;
}

#ccafsLogo {
	float: left;
}


/************* 3. MAIN MENU ***************/
nav#mainMenu {
	clear: both;
	list-style-type: none;
	text-align: center;
}

nav#mainMenu ul a {
  color: white;
  display: inline-block;
  text-align: center;
  width: 130px;
}

nav#mainMenu ul a li {
  background-color: #2E702D;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

/*************** BODY ****************/
.content {
  margin-top: 20px;
  padding: 0 30px;
}

.content h1 {
  border-bottom: 2px solid #663300;
  color: #663300;
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 10px;
}

/*************** FOOTER ****************/
#footerContainer {
	background-color: #EEEEEE;
  height: 100px;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
} 

