/* Main Menu */
nav#mainMenu ul a li {
  *display: inline; 
}

#generalMessages {
  *margin-top: 50px;
}

/*************** BODY ****************/

.thirdPartBlock {
  zomm: 1;
  *display: inline;
  padding: 5px;
  width: 30%;  
}


/*------- Reporting section -------*/

 /*-- Deliverables subSection -- */
 
 #expectedDeliverables .checkboxGroup .checkbox,
 #newDeliverables .checkboxGroup .checkbox,{
  zoom: 1;
  *display: inline;  
  width: 30%;
  padding : 5px;   
}
 
 