@import url("./reset.css");

/* 
---------------[Content]---------------
--- 1. GENERAL
--- 2. HEADER
--- 3. MAIN MENU
--- 4. SECONDARY MENU
--- 5. BODY
--- 6. SECTIONS
--- 7. FOOTER
---------------------------------------
*/

/************* 1. GENERAL ***************/
a,a:active,a:visited,a:hover {
  color: black;
  text-decoration: none;
}

select {
   width: 100%;
}

.clearfix:before,.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.red {
  color: red;
}

ul.fieldError li {
  color: red;
  list-style-type: none;
  text-align: left;
}

fieldset {
  padding: 10px 20px 20px;
  margin: 0 0 30px;
  border: 1px solid silver;
}

legend {
  text-align: center;
  padding: 5px;
  margin: 0;
}

textarea {
  width: 93%;
  height: 70px;
}

input[type="radio"] {
  margin-left: 15px;
  margin-right: 3px;
}

.halfPartBlock .checkbox input{
  width: 15px;
  margin-left: 20px;
}

.halfPartBlock .checkbox h6{
  display: inline;
  width: 30%;
  width: 29%\0/; /*hack for IE8 & IE9*/
}

.checkboxGroup input {
  margin-left: 0px;
  width: 14px;
}

.checkboxGroup .checkboxLabel {
  display: inline-block;
  font-size: 11px;
  width: 30%;
  width: 29%\0/; /*hack for IE8 & IE9*/
}

.radiosList input {
  
}

.removeLink {
  display: block;
  text-align: right;
}

.removeLink img, .removeLink a {
  vertical-align: middle;
}

.addLink{
	margin : 10px 5px 2px;
}

.addLink img, .addLink a {
  vertical-align: middle;
}

/* General Messages */
#generalMessages {
  margin-top: 20px;
  text-align: center;
}

#generalMessages ul {
  width: 80%;
}

.charCount {
  color: #888888;
  font-size: 10px;
  margin-right: 25px;
  text-align: right;
}

/************* 2. HEADER ***************/
body {
  text-align: center;
}

.container {
  background-image: url("../../images/global/header-background.png");
  background-repeat: no-repeat;
  display: inline-block;
  width: 1100px;
  height: 100%;
  text-align: left;
  display: inline-block;
  margin: 30px auto;
  
  /* SHADOW */
  -webkit-box-shadow: 2px 7px 29px #5A5E59; /* Safari and Chrome */
  box-shadow: 2px 7px 29px #5A5E59;
  /* For IE 8 */
  /*-ms-filter: "progid:DXImageTransform.Microsoft.Glow(Color=#5A5E59,Strength=10)";*/
  
}

.popup_container {
  width: 600px;
  text-align: center;
}

.popup_container .header {
  text-align: center;
  margin: 0px;
}

.popup_container .content {
  width: 570px;
  padding-top: 0;
}

.popup_container h1 {
  text-align: left;
}

#userInfo {
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: right;
}

#userInfo .email {
  color: white;
  font-size: 15px;
  font-weight: bold;
}

#userInfo .logout {
  background-color: green;
  margin-left: 15px;
  padding: 3px 10px;
}

#userInfo .logout a {
  color: white;
}

#mainLogo {
  float: left;
}

#mainLogo img {
  margin-left: 75px;
  margin-top: 20px;
}

#ccafsLogo {
  float: left;
}

#ccafsLogo img {
  margin-left: 80px;
  margin-top: 20px;
}

/************* 3. MAIN MENU ***************/
nav#mainMenu {
  clear: both;
  list-style-type: none;
  text-align: center;
  margin-top: 15px;
}

nav#mainMenu ul a {
  color: white;
  display: inline-block;
  text-align: center;
  width: 180px;
}

nav#mainMenu ul a li {
  background-color: #F2F2F2;
  color: #7F7F7F;
  display: table-cell;
  font-size: 15px;  
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
  vertical-align: middle;
  width: 155px;
  border: 1px solid #A6A6A6;
}

nav#mainMenu ul a li.currentSection {
  color: white;
  background-color: #A6A6A6;
}

/*************** SECONDARY MENU ***********/
nav#secondaryMenu {
  background-color: #F2F2F2;
  border: 1px solid #A6A6A6;
  float: left;
  margin-top: 20px;
  padding: 10px;
  width: 163px;
}

nav#secondaryMenu ul {
  
}

nav#secondaryMenu ul a {
  display: list-item;
  font-weight: bold;
  height: 35px;
  margin-left: -18px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-top: 5px;
}


nav#secondaryMenu ul a.currentReportingSection {
  color: white;
  background-image: url("../../images/global/reportingMenuMarker.png");
  background-repeat: no-repeat;
  width: 200px;
}

#arrowDown {
  float: left;
  margin-left: -40px;
  margin-top: 40px;
}

/*************** REPORTING STEP MENU ****************/
#stageMenu {
  display: block;
}

#stageMenu a li {
  display: inline;
}

/*************** BODY ****************/
.content {
  margin: 10px 60px;
  padding: 20px;
}

.fullContent {
  padding: 10px;
}

.halfContent {
  float: right;
  padding: 10px;
  width: 700px;
}

.content a,.halfContent a,.content a:hover,.halfContent a:hover {
  color: #366506;
}

.content h1 {
  border-bottom: 2px solid #663300;
  color: #663300;
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 20px;
}

.halfContent h1 {
  border-bottom: 2px solid #663300;
  color: #663300;
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 10px;
}

.fullContent h6+*, .halfContent h6+* {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 3px;
}

.fullBlock {
  display: block;
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.fullBlock .input input{
  width: 93%;
}

.thirdPartBlock {
  display: inline-block;
  padding: 5px;
  width: 30%;
}

.halfPartBlock {
  display: inline-block;
  padding: 5px;
  width: 45%;
}

.halfPartBlock input {
  width: 80%;
}

.itemIndex {
  font-size: 15px;
  font-weight: normal;
  color: #663300;
  text-align: center;
  text-decoration: underline;
}

.countriesBlock select {
  height: 200px;
  border: 1px solid #E5E5E5;
}

.imageBlock {
  margin-top: 20px !important;
}

.imageBlock .image {
  border: 1px solid #E5E5E5;
  background-color: #fafafa;
  height: 160px;
  text-align: center;
  margin-right: 91px;
  width: 235px;
  float: right;  
}

.imageBlock .image img {
  height: 160px;
  max-height: 160px;
  width: auto;
  max-width: 100%;
}

.imageBlock .browseInput {
  padding: 65px 0;
  float: left;
}

.imageBlock .clear {
  clear: both;
}

.buttons {
  display: block;
  margin: 10px;
  text-align: right;
}

.buttons button {
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-size:12px;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px;
}

.buttons button[name=save] {
    color:#336699;
}

.buttons button[name=save]:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}

.buttons button[name=saveNext] {
    color:#529214;
}

.buttons button[name=saveNext]:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}

.buttons button[name=cancel] {
    color:#d12f19;
}

.buttons button[name=cancel]:hover{
  background:#fbe3e4;
  border:1px solid #fbc2c4;
  color:#d12f19;
}

.helpMessage {
  background-color: #F2F2F2;
  color: #29336F;
  min-height: 45px;
}

.helpMessage img {
  float: left;
  padding: 5px;
}

.helpMessage p {
  padding: 10px;
}

/************* LOGIN *****************/
#loginFormContainer {
  margin: 10px 0;
  text-align: center;
}

#loginFormContainer .loginForm {
  background-color: #D5EAD5;
  margin: auto;
  padding: 10px;
  width: 250px;
}

#loginFormContainer .loginForm div {
  margin-bottom: 10px;
  margin: 15px 0;
  text-align: left;
}

#loginFormContainer .loginForm div label {
  display: block;
}

#loginFormContainer .loginForm div input {
  width: 98%;
}

#loginFormContainer .alreadyLogged {
  font-size: 20px;
}

#loginFormContainer .alreadyLoggedEmail {
  color: grey;
  font-size: 15px;
  font-weight: bold;
}

#reportComponent {
  margin: 5px;
}

#reportComponent thead {
  border-bottom: 2px solid;  
}

#reportComponent td, #reportComponent th {
  padding: 5px;
  width: 160px;
}
#reportComponent tbody tr {
  border-bottom: 1px solid #9D9D9D;
}

/***** PLANNING *****/

#mainInformation .commisioned{
	font-weight: bold;
}

#mainInformation .continuation{
	font-weight: bold;
}

#activityListPlanning #addActivity {
  display: block;
  margin-top: 20px;
}

#activityListPlanning #addActivity a {
  background-color: #067305;
  color: white;  
  padding: 5px;
  width: 110px;  
}

.activityLocations fieldset > div > h6{
  display: none;
}

.activityLocations #countryLocations input{
	margin-left : 15px;
}

.activityLocations #countryLocations label{
	font-size : 11px;
}

#additionalInformation #otherKeywordsList h6{
	display : none;
}

#additionalInformation .otherKeywordsHelp{
	margin-left: 15px;
	font-size: 11px;
}

/****** REPORTING **********/
/********* Activity Reporting Sub Menu **********/
#stageMenu {
  display: block;
  margin: 12px;
  text-align: center;
}

#stageMenu a {
  background-image: url("../../images/global/sub-menu.png"); 
  background-repeat: no-repeat;
  display: inline-block; 
  color: black;
  padding: 5px 3px;
  height: 34px;
  width: 145px;
}

#stageMenu a.currentReportingSection {
  background-image: url("../../images/global/sub-menu-selected.png"); 
  font-weight: bold;
}

#stageMenu a li {
  display: inline-block;
  margin-top: 9px;
}
/*************** HOME ****************/

/* Activities */
.activityInformation .fullBlock.name{
  margin-bottom: 0px;
  padding: 2px 5px;
}

.activityInformation  .halfPartBlock{
  padding: 2px 5px;
}

.activityInformation .label{
  padding: 2px 5px;
  font-weight: bold;
}

.activityInformation ol{
  margin-top: 10px;
}

.activityInformation ol li{
  margin-bottom: 15px;
}

#country_locations{
  height: 219px;
  width: 100%;
}

#other_locations{
  height: 219px;
  width: 100%;
}

/*  
    This styles are aplied to the divs generated by the plugins
    used to show the maps  
*/

#country_locations  div[style]{
  display : block !important;
  position: static !important;
}

#country_locations > div + div[style]{
  display : none !important;  
}

/************ ACTIVITIES ***************/
/* Activity List */
#activityList {
  display: inline-block;
  margin-top: 20px;
}

#activityList #id {
  width: 60px;
}

#activityList #activity {
  width: 440px;
}

#activityList #leaderName {
  width: 100px;
}

#activityList #theme {
  width: 60px;
}

#activityList #lastModified {
  width: 80px;
  text-align: center;
}

#activityList td {
  text-align: center;
}

#activityList td.left {
  text-align: left;
}

#activityList a:HOVER {
  text-decoration: underline;
}

/** Activity Status **/
#activityTitle p {
  text-align: justify;
}

#activityDescription p {
  text-align: justify;
}

#generalInformation .title {
  font-weight: bold;
}

#generalInformation td {
  width: 160px;
  padding: 3px;
}

/* Deliverables */
#items #fileNameMessage {
  display: none;
}

/*** Contact Persons (popup) ***/
#contactPersons {
  display: none;
}

#contactPersonsTable th {
  background-color: #A6A6A6;
  border: 1px solid;
  padding: 0.2em;
  text-align: center;
}

#contactPersonsTable td {
  background-color: white;
  border: 1px solid;
  padding: 0.3em 0.5em;
}

/* Partners */
#addPartnerText {
  background-color: #F2F2F2;
  border: 1px solid #29336F;
  padding: 10px;
  color: #29336F;
}
#addPartnerText a {
  font-weight: bold;
}
#addPartnerText a:hover {
  text-decoration: underline;
}



/******** SUMMARY BY OUTPUTS ***********/
.outputTitle {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}

.outputDescription {
  margin-bottom: 10px;
}

#outputSummary .outputSummary .textArea h6 {
  display: none;
}
/*********** PUBLICATIONS **************/
/*********** CASE STUDIES **************/
/************* OUTCOMES ****************/
.outcome .textArea h6 {
  font-weight: normal;
}
/************ TL/RPL ONLY **************/
/* TL/RPL Sub-Menu */
#stageMenu.tlRplSubMenu ul a li {
   font-size: 12px;
   margin-top: 2px;
   width: 110px;
}

/* TL Outputs */
#outputsGroup .textArea h6 {
  display: none;
}
/* TL/RPL Synthesis Report */
#synthesisReport .textArea h6 {
  font-weight: normal;
}
/* TL/RPL Milestone Report*/
#tlRplMilestones legend {
  font-size: 15px;
  font-weight: bold;
}

#tlRplMilestones .milestoneReportTitle {  
  font-size: 12px;
  margin-bottom: 10px;
}

#tlRplMilestones .milestoneReportDescription {
  font-style: italic;
  margin-bottom: 10px;
}

.milestoneReportStatus {
  margin-bottom: 10px;
}

.tlDescription, .rplDescription {
  margin-bottom: 10px;
}


/*************** FOOTER ****************/
#footerContainer {
  background-image: url("../../images/global/footer-background.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  clear: both;
  height: 200px;
  padding-top: 50px;
  text-align: left;
}

#footerContainer.little {
	background-image: url("../../images/global/footer-background-small.png");
	height: 80px;
  background-size: 50%;
}

#footerContainer #centres-logos {
  margin-left: 40px;  
}

#footerContainer #centres-logos img {
  margin-left: 5px;
}

#footerContainer #secondaryLogos {
  float: right;
}

#footerContainer #rowTwo {
  margin-top: 30px;
}

#footerContainer #reportIssue {
  float: left;
  margin-left: 60px;
  margin-top: 15px;
}

#footerContainer #copyright {
  float: right;
  font-weight: bold;
  margin-right: 10px;
  margin-top: 15px;
  text-align: right;
}

