@import url("./reset.css");

/* 
---------------[Content]---------------
--- 1. GENERAL
--- 2. HEADER
--- 3. MAIN MENU
--- 4. SECONDARY MENU
--- 5. BODY
--- 6. SECTIONS
--- 7. FOOTER
---------------------------------------
*/

/************* 1. GENERAL ***************/
a,a:active,a:visited,a:hover {
  color: black;
  text-decoration: none;
}

select {
   width: 100%;
}

.clearfix:before,.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.red {
  color: red;
}

ul.fieldError li {
  color: red;
  list-style-type: none;
  text-align: left;
}

fieldset {
  padding: 0 20px 20px;
  margin: 0 0 30px;
  border: 1px solid silver;
}

legend {
  text-align: center;
  padding: 5px;
  margin: 0;
}

textarea {
  width: 95%;
  height: 70px;
}

input[type="radio"] {
  margin-left: 15px;
  margin-right: 3px;
}

.checkboxGroup input {
  margin-left: 0px;
  width: 14px;
}

.checkboxGroup .checkboxLabel {
  display: inline-block;
  font-size: 11px;
  width: 30%;
  width: 29%\0/; /*hack for IE8 & IE9*/
}

.radiosList input {
  
}

.removeLink {
  display: block;
  text-align: right;
}

.removeLink img, .removeLink a {
  vertical-align: middle;
}

.addLink img, .addLink a {
  vertical-align: middle;
}

/* General Messages */
#generalMessages {
  text-align: center;
}

#generalMessages ul {
  width: 80%;
}

/************* 2. HEADER ***************/
body {
  text-align: center;
}

.container {
  background-image: url("../../images/global/header-background.png");
  background-repeat: no-repeat;
  display: inline-block;
  width: 1100px;
  height: 100%;
  text-align: left;
  display: inline-block;
  margin: 30px auto;
  
  /* SHADOW */
  -webkit-box-shadow: 2px 7px 29px #5A5E59; /* Safari and Chrome */
  box-shadow: 2px 7px 29px #5A5E59;
  /* For IE 8 */
  /*-ms-filter: "progid:DXImageTransform.Microsoft.Glow(Color=#5A5E59,Strength=10)";*/
  
}

.popup_container {
  width: 600px;
  text-align: center;
}

.popup_container .header {
  text-align: center;
  margin: 0px;
}

.popup_container .content {
  width: 570px;
  padding-top: 0;
}

.popup_container h1 {
  text-align: left;
}

#userInfo {
  margin-right: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: right;
}

#userInfo .email {
  color: white;
  font-size: 15px;
  font-weight: bold;
}

#userInfo .logout {
  background-color: green;
  margin-left: 15px;
  padding: 3px 10px;
}

#userInfo .logout a {
  color: white;
}

#mainLogo {
  float: left;
}

#mainLogo img {
  margin-left: 75px;
  margin-top: 20px;
}

#ccafsLogo {
  float: left;
}

#ccafsLogo img {
  margin-left: 80px;
  margin-top: 20px;
}

/************* 3. MAIN MENU ***************/
nav#mainMenu {
  clear: both;
  list-style-type: none;
  text-align: center;
  margin-top: 15px;
}

nav#mainMenu ul a {
  color: white;
  display: inline-block;
  text-align: center;
  width: 180px;
}

nav#mainMenu ul a li {
  background-color: #F2F2F2;
  color: #7F7F7F;
  display: table-cell;
  font-size: 15px;  
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
  vertical-align: middle;
  width: 155px;
  border: 1px solid #A6A6A6;
}

nav#mainMenu ul a li.currentSection {
  color: white;
  background-color: #A6A6A6;
}

/*************** SECONDARY MENU ***********/
nav#secondaryMenu {
  background-color: #F2F2F2;
  border: 1px solid #A6A6A6;
  float: left;
  margin-top: 20px;
  padding: 10px;
  width: 163px;
}

nav#secondaryMenu ul {
  
}

nav#secondaryMenu ul a {
  display: list-item;
  font-weight: bold;
  height: 35px;
  margin-left: -18px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-top: 5px;
}


nav#secondaryMenu ul a.currentReportingSection {
  color: white;
  background-image: url("../../images/global/reportingMenuMarker.png");
  background-repeat: no-repeat;
  width: 200px;
}

nav#secondaryMenu ul a li {
  
}

/*************** REPORTING STEP MENU ****************/
#stageMenu {
  display: block;
}

#stageMenu a li {
  display: inline;
}

/*************** BODY ****************/
.content {
  margin: 10px 60px;
  padding: 20px;
}

.halfContent {
  float: right;
  padding: 10px;
  width: 700px;
}

.content a,.halfContent a,.content a:hover,.halfContent a:hover {
  color: #366506;
}

.content h1 {
  border-bottom: 2px solid #663300;
  color: #663300;
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 20px;
}

.halfContent h1 {
  border-bottom: 2px solid #663300;
  color: #663300;
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 10px;
}

.halfContent h6+* {
  margin-left: 15px;
  margin-right: 15px;
}

.fullBlock {
  display: block;
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.thirdPartBlock {
  display: inline-block;
  padding: 5px;
  width: 30%;
}

.halfPartBlock {
  display: inline-block;
  padding: 5px;
  width: 45%;
}

.halfPartBlock input {
  width: 80%;
}

.countriesBlock select {
  height: 200px;
  border: 1px solid #E5E5E5;
}

.imageBlock div[id$='image'] {
  border: 1px solid #E5E5E5;
  background-color: #fafafa;
  height: 160px;
  text-align: center;
}

.imageBlock div[id$='image'] img {
  height: 160px;
  max-height: 160px;
  width: auto;
  max-width: 100%;
}

.buttons {
  float: right;
  margin: 10px;
  text-align: right;
  width: 200px;
}

.buttons button {
  padding: 3px 10px;
  margin-left: 20px;
}

/********* Activity Reporting Sub Menu **********/
#stageMenu {
  display: block;
  float: left;
  margin: 12px;
  text-align: center;
}

#stageMenu a {
  background-image: url("../../images/global/sub-menu.png"); 
  background-repeat: no-repeat;
  display: inline-block; 
  color: black;
  padding: 5px;
  height: 34px;
  width: 145px;
}

#stageMenu a.currentReportingSection {
  background-image: url("../../images/global/sub-menu-selected.png"); 
  font-weight: bold;
}

#stageMenu a li {
  display: inline-block;
  margin-top: 9px;
}

/************ ACTIVITIES ***************/
/* Activity List */
#activityList {
  display: inline-block;
  margin-top: 20px;
}

#activityList #id {
  width: 60px;
}

#activityList #activity {
  width: 440px;
}

#activityList #leaderName {
  width: 100px;
}

#activityList #theme {
  width: 60px;
}

#activityList #lastModified {
  width: 80px;
  text-align: center;
}

#activityList td {
  text-align: center;
}

#activityList td.left {
  text-align: left;
}

/** Activity Status **/
#activityTitle p {
  text-align: justify;
}

#activityDescription p {
  text-align: justify;
}

#generalInformation .title {
  font-weight: bold;
}

#generalInformation td {
  width: 160px;
  padding: 3px;
}

/*** Contact Persons (popup) ***/
#contactPersons {
  display: none;
}

#contactPersonsTable th {
  background-color: #A6A6A6;
  border: 1px solid;
  padding: 0.2em;
  text-align: center;
}

#contactPersonsTable td {
  background-color: white;
  border: 1px solid;
  padding: 0.3em 0.5em;
}

/* Partners */
#addPartnerText a {
  font-weight: bold;
}

/******** SUMMARY BY OUTPUTS ***********/
.outputTitle {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}

.outputDescription {
  margin-bottom: 10px;
}

#outputSummary .outputSummary .textArea h6 {
  display: none;
}
/*********** PUBLICATIONS **************/
/*********** CASE STUDIES **************/
/************* OUTCOMES ****************/
/************ TL/RPL ONLY **************/

/*************** FOOTER ****************/
#footerContainer {
  background-image: url("../../images/global/footer-background.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  clear: both;
  height: 200px;
  padding-top: 50px;
  text-align: center;
}

#footerContainer #principalLogo {
  float: left;
  margin-left: 50px;
}

#footerContainer #secondaryLogos {
  float: right;
}

#footerContainer #rowOne {
  margin-right: 250px;  
}

#footerContainer #rowTwo {
  margin-right: 340px;
  margin-top: 10px;
}

#footerContainer #rowThree {
  margin-right: 430px;
  margin-top: 10px;
}
