/* 
---------------[Content]---------------
--- 1. GENERAL
--- 2. HEADER
--- 3. MAIN MENU
--- 4. SECONDARY MENU
--- 5. BODY
--- 6. SECTIONS
--- 7. FOOTER
---------------------------------------
*/

/************* 1. GENERAL ***************/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,800);
@import url(grid-system.css);

.mce-widget.mce-tooltip {
    display: none !important;
}

a,a:active,a:visited,a:hover {
  color: #A9A9A9;
}

.select {
  margin-bottom: 8px;
}

.select .selectList {
  margin-left: 5px;
}

.select.button, .textArea.button {
  float: left;
  width: 87%;
}

.addButton.Indicator{
  padding: 15px 9px;
  margin-top: 11px;
}

.addButton.outcome{
  padding: 6px 8px !important;
}

.clearfix:before,.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.center {
  text-align: center !important;
}

.red {
  color: red;
}

.fieldset {
	padding: 10px 11px;
	margin: 10px 0px;
	border: 1px dotted #CCC;
	border-radius: 15px 0px;
}

ul.fieldError li {
  color: red;
  list-style-type: none;
  text-align: left;
}

textarea.fieldError, input.fieldError,textarea.fieldError:focus, input.fieldError:focus{
  border-color: #F44 !important;
  background-color: #FFFAFA;
  color: #EE1D1D !important;
}

p.fieldError{
  color: #F52626;
  font-weight: bold;
}

.hasDatepicker {
    background: url(../../images/global/calendar.png) no-repeat scroll 99% 2px;
}

fieldset {
  /* padding: 10px 20px 20px; */
  margin: 0 0 30px;
  /* border: 1px solid silver; */
}

legend {
  text-align: center;
  padding: 5px;
  margin: 0;
}

textarea {
  width: 100%;
  height: 85px;
}

input[type="radio"] {
  margin-left: 15px;
  margin-right: 3px;
}

select{
  width: 99%;
}
.dataTables_wrapper select {
  width: auto !important;
}

input[type="submit"], button, .addButton {
  background-color:#2BA6CB;
  color: #fff;
  border: 0;
  padding: 4px 20px 4px 20px;
  font-weight: bold;
  border-bottom: 3px solid #1E94B8;
  border-radius: 2px;
}

.addButton{
  background: url('../../images/global/add.png') no-repeat 4px #2BA6CB;
  padding: 4px 25px 4px 28px;
  margin: 5px 0;
}

input[type="submit"], button:hover, .addButton:hover {
  background-color: #239FC5;
}

input[type="text"] {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #ccc;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: #fff !important;
  background-image: none !important;
  color: #ccc !important;
}

input.target {
    width: 30% !important;
}

.halfPartBlock .checkbox input{
  width: 15px;
  margin-left: 20px;
}

.halfPartBlock .checkbox h6{
  display: inline;
  width: 30%;
  width: 29%\0/; /*hack for IE8 & IE9*/
}

.checkboxGroup input {
  margin-left: 0px;
  width: 14px;
  vertical-align: top;
  margin-top: 6px;
}

.checkboxGroup .checkboxLabel {
  display: inline-block;
  font-size: 11px;
  width: 88%; 
}

.grid_5 .checkboxGroup .checkboxLabel { 
  width: 92%;
}


div.checkboxGroup.vertical label {
   width: 96%;
}

div.checkboxGroup.vertical input {
  margin-top:5px;
  vertical-align: top;
   
}

span.or {
  font-weight: lighter;
  padding: 10px;
}

.removeLink {
  display: block;
  text-align: right;
}

.removeButton {
  cursor: pointer;
  vertical-align: middle;
  position: absolute;
  right: 3px;
  top: 11px;
}

.removeElement {
  padding: 11px 23px;
  background: url(../../images/global/icon-remove.png) no-repeat center #D5504C;
  position: absolute;    top: 0;    right: 0;        border-radius: 0px 3px  0px 8px;
  cursor: pointer;
}

.removeLink img, .removeLink a {
  vertical-align: middle;
  text-decoration: none;
  color: #816565;
}

.addLink{
  margin: 15px 5px 12px 0px;
}

.addLink img, .addLink a {
  vertical-align: middle;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
}

/* General Messages */
#generalMessages {
  margin-top: 20px;
  text-align: center;
}

#generalMessages ul {
  width: 80%;
}

.charCount {
  color: #888888;
  font-size: 10px;
  margin-right: 25px;
  text-align: right !important;
}

a.popup-link {
border-radius: 2px;
box-shadow: 1px 1px 3px #AAAAAA;
padding: 1px 10px;
}

.container #autoSavingMessages{
  background-color: #ffffff;
  opacity: 0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
  position: fixed;
  top: 0;
  width: 1100px;
}

.container #autoSavingMessages p{
  color: #000;
  font-weight: bold;
  text-align: center;
}

.quote {
  font-weight: lighter;
  font-size: 0.9em;
  margin: 0 40px;
  padding: 5px;
  color: #1D2465;
}
.quote p{ 
  color: #686A7D;
}

/* partners Save*/
select#partnerSave_activityPartner_partner_type_id {
  width: 99%;
}


/************* 2. HEADER ***************/
body { 
  text-align: center;
  font-family: 'Segoe UI', Helvetica, Verdana;
}
header {
  font-family: 'Open Sans', sans-serif;
}
.container { 
  background-repeat: no-repeat;
  display: inline-block;
  width: 1100px; 
  position: relative;
  text-align: left;
  display: inline-block; 
  
}

.popup_container {
  width: 100%;
  text-align: left;
}

.popup_container .header {
  text-align: center;
  margin: 0px;
}

.popup_container .content {
  width: 90%;
  padding-top: 0;
}

.popup_container h1 {
  text-align: left;
}

#userInfo {
  /* margin-right: 30px; */
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
  color: #fff;
  text-align: left;
  position: absolute;
  right: 1em;
  top: 0;
  background: #57A7B5;
  border-bottom: 6px solid #4C8D99;
  height: 32px;
  font-size: 0.9em;
  padding: 8px 20px 17px 20px;
  box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.1);
}

a#userLogOut {
  color: #FFF;
  text-decoration: none;
  background: #444;
  padding: 2px 8px;
  font-size: 0.85em;
  font-weight: lighter;
  position: absolute;
  right: 1em;
  top: 0.6em;
  border-radius: 5px;
}


#userInfo:hover #userInfo-drop{ 
  opacity:1; 
  display:block;
}

#userInfo-drop { 
  padding: 10px !important;
  position: absolute;
  top: 64px;
  left: 0;
  border-radius: 8px;
  text-align: left; 
  transition:opacity 0.5s linear;
  background: #595959;
  z-index: 1;
  width: 90%;
  display: none;
}

#userInfo-drop:after {
  position: absolute;
  left: 20px;
  top: -9px;
  content: '';
  width: 0;
  margin-right: 80%;
  height: 0px;
  border-style: solid;
  border-width: 0 8px 9px 8px;
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #595959 rgba(0, 0, 0, 0);
}

#userInfo-drop li {
    display: list-item !important;
    width: 100%; 
    padding: 6px 5px 6px 0px !important;
    border-bottom: 1px solid #6E6B6B;
    line-height: 0.9em;
}


#userInfo .email {
  font-size: 1em; 
  
  margin-right: 50px;
}
#userInfo .institution {
  font-size: 0.8em; 
  padding-top: 2px;
  width: 230px;
  color: #E7E7E7;
  font-weight: lighter;
  /* line-height: 1em; */
}

#userInfo .logout {
  background-color: #4B4B4B;
  margin-left: 4px;
  padding: 0px 7px;
  border-radius: 4px;
  border-bottom: 2px solid #2E2E2E;
}
#userInfo .program {
  font-size: 0.8em; 
  float:left ;

}

#userInfo .logout a {
  color: white;
  text-decoration: none;
}

#mainLogo {
  float: left;
  padding: 31px 60px;
  font-size: 2.5em;
  color: #444;
  font-weight: 200;
}

#mainLogo img {
  /* margin-left: 75px; */
  /* margin-top: 20px; */
}

#ccafsLogo {
  float: right;
}

#ccafsLogo img {
  /* margin-left: 80px; */
  /* margin-top: 20px; */
}

/************* 3. MAIN MENU ***************/
nav#mainMenu {
  width: 100%; 
  /* padding-top: 10px; */
  /* padding-bottom: 15px; */
  height: 64px;
  
  background-image: url("../../images/global/header-menu-bar.png");
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
} 

nav#mainMenu ul{
  list-style-type: none;
  /* height: 40px; */
  padding: 19px 20px;
  /* margin: 0 auto; */
  /* text-align: center; */
} 
nav#mainMenu ul a{
 text-decoration: none;
} 


nav#mainMenu ul li {
  display: inline;
  /* background: #FFFFFF; */
  padding: 16px 24px 19px 23px;
  /* border: 1px solid #dbdbdb; */
  margin: -3px;
  color: #FFFFFF;
}
nav#mainMenu ul li.currentSection {
  /* background-image: url("../../images/global/mainMenuMarker.png"); */
  font-weight: bold;
  color: #fff; 
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
}
nav#mainMenu ul a.disabled li{
  color: #b7bcc1;
}
/*************** BREADCRUMB NAVIGATION ***********/

#breadcrumb {
  list-style: none;
  display: inline-block;
  margin-left: 4em;
  margin-top: 1em;
}
#breadcrumb .icon {
  font-size: 14px;
}
#breadcrumb li {
  float: left;
}
#breadcrumb li a {
  color: #6F6F6F;
  display: block;
  background: #F1F1F1;
  text-decoration: none;
  position: relative;
  height: 30px;
  line-height: 29px;
  padding: 0 13px 0 5px;
  text-align: center;
  margin-right: 23px;
}
#breadcrumb li:nth-child(even) a {
  background-color: #E9E9E9;
}
#breadcrumb li:nth-child(even) a:before {
  border-color: #E9E9E9;
  border-left-color: transparent;
}
#breadcrumb li:nth-child(even) a:after {
  border-left-color: #E9E9E9;
}
#breadcrumb li:first-child a {
  padding-left: 15px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}
#breadcrumb li:first-child a:before {
  border: none;
}
#breadcrumb li:last-child a {
  padding-right: 15px;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
}
#breadcrumb li:last-child a:after {
  border: none;
}
#breadcrumb li a:before, #breadcrumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #F1F1F1;
  border-width: 15px 10px;
  width: 0;
  height: 0;
}
#breadcrumb li a:before {
  left: -20px;
  border-left-color: transparent;
}
#breadcrumb li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #F1F1F1;
}
#breadcrumb li a:hover {
  background-color: #E7E7E7;
}
#breadcrumb li a:hover:before {
  border-color: #E7E7E7;
  border-left-color: transparent;
}
#breadcrumb li a:hover:after {
  border-left-color: #E7E7E7;
}
#breadcrumb li a:active {
  background-color: #E9E9E9;
}
#breadcrumb li a:active:before {
  border-color: #E9E9E9;
  border-left-color: transparent;
}
#breadcrumb li a:active:after {
  border-left-color: #E9E9E9;
}

/*************** SECONDARY MENU ***********/
#secondaryMenu {
  background-color: #FFFFFF;
  float: left;
  margin-top: 22px;
  padding: 0px;
  width: 184px;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  font-family: 'Open Sans', sans-serif;
}

#secondaryMenu ul {
  list-style-type: none;
  margin-left: 0;
}

#secondaryMenuBar {
  background: #FFFFFF;
  height: 0px;
  border-radius: 3px 5px 0px 0px;
  border-bottom: 4px solid #FFFFFF;
  position: relative;
  top: 0px;
}

a.currentReportingSection li, a.currentSection li {
  margin-left: 12px;
  margin-top: -5px;
  color: #fff;
  font-weight: bold;
}
.icon-15{ 
  height: 15px;
  width:15px; 
}
.icon-20{
  float: left;
  height: 20px;
  width:20px; 
}

.icon-s{
  float: left;
  height: 25px;
  width:25px; 
}
#i-mainInformation{ 
  background:url('../../images/global/sprite-icons.png') 0 0; 
}

#i-objectives{ 
  background:url('../../images/global/sprite-icons.png') 0 -40px; 
}

#i-deliverables{ 
  background:url('../../images/global/sprite-icons.png') 0 -80px; 
}

#i-partners{ 
  background:url('../../images/global/sprite-icons.png') 0 -120px; 
}

#i-locations{ 
  background:url('../../images/global/sprite-icons.png') 0 -158px;
}

#i-additionalInformation{ 
  background:url('../../images/global/sprite-icons.png') 0 -198px; 
}

a.currentReportingSection li #i-mainInformation{ 
  background:url('../../images/global/sprite-icons.png') -25px 0; 
}

a.currentReportingSection li #i-objectives{ 
  background:url('../../images/global/sprite-icons.png') -25px -40px; 
}

a.currentReportingSection li #i-deliverables{ 
  background:url('../../images/global/sprite-icons.png') -25px -80px; 
}

a.currentReportingSection li #i-partners{ 
  background:url('../../images/global/sprite-icons.png') -25px -120px; 
}

a.currentReportingSection li #i-locations{ 
  background:url('../../images/global/sprite-icons.png') -25px -158px; 
}

a.currentReportingSection li #i-additionalInformation{ 
  background:url('../../images/global/sprite-icons.png') -25px -198px; 
}

#secondaryMenu ul a {
  display: list-item;
  height: 26px;
  margin-left: 0px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-top: 14px;
  border-bottom: 1px solid #dbdbdb;
  color: #535353;
  text-decoration: none;
}


#secondaryMenu ul a.currentReportingSection, #secondaryMenu ul a.currentSection {
  color: white;
  background-image: url("../../images/global/reportingMenuMarker.png");
  background-repeat: no-repeat;
  width: 220px;
  margin-left: -12px;
  border: none;
}

#arrowDown {
  float: left;
  margin-left: -40px;
  margin-top: 40px;
}

/*************** REPORTING STEP MENU ****************/
#stageMenu {
  display: block;
}

#stageMenu a li {
  display: inline;
}

/*************** BODY ****************/
.content {
  margin: 10px 34px; 
}
.content:before,.content:after {
  content: "";
  display: table;
}

.content:after {
  clear: both;
}

.content {
  *zoom: 1;
}

.fullContent {
  padding: 10px;
}

.halfContent {
  float: right;
  padding: 12px 0;
  width: 800px;
  vertical-align: top;
}

.content a,.halfContent a, #footerContainer a, 
.content a:hover,.halfContent a:hover, #footerContainer a{
  /* color: #408088; */
}

.content h1 {
  border-bottom: 2px solid #663300;
  color: #663300;
  font-size: 1.6em;
  font-weight: normal;
  margin-bottom: 10px;
}

h1#error{
    font-family: 'Open Sans', sans-serif; 
    font-size: 6em;
    color: #C0C0C0;
    border: 0;
    margin: 0;
}

p.errorText{
    color: #444;
    margin-bottom: 40px;
}

p.errorText.primary {
    font-size: 1.5em;
}
p.errorText.secondary {
    font-weight: lighter;
    margin-bottom: 30px;
}

a#backHome {
    color: #fff;
    background: #C1C1C1;
    text-decoration: none;
    padding: 5px 33px;
    font-weight: bold;
    border-radius: 20px;
    margin: 44px;
}
.content h3 {
  color: #663300;
  font-weight: normal;
  font-size: 15px;
}

.halfContent h1 {
  border-bottom: 2px solid #562B00;
  color: #663300;
  font-size: 1.6em;
  margin-bottom: 10px;
  font-weight: lighter;
  font-family: 'Open Sans', sans-serif;
}

h1.contentSubTitle {
  color: #444;
  border-bottom: 0;
  font-size: 1.4em;
  margin-top: 1em;
  font-weight: bold;
}

h3.contentSubTitle {
  margin: 0px 10px;
  padding: 2px 0px;
  font-weight: bold;
  color: #939393;
  border-bottom: 1px solid #939393;
}

.fullContent h6+*, .halfContent h6+* {
  margin-left: 1px;
  margin-right: 0px;
  margin-top: 3px;
}

.fullBlock {
  display: block;
  margin-bottom: 0px;
  width: 98%;
}

.fullBlock .input input{
  width: 98%;
}

.fourthPartBlock { 
  padding: 5px;
  width: 20%;
  vertical-align: middle;
}

.fourthPartBlock input { 
  width: 100%; 
}

.sixthPartBlock{
  display: inline-block;
  padding: 4px;
  width: 15%;
  vertical-align: middle;
}

.sixthPartBlock input { 
  width: 100%; 
}

.thirdPartBlock {
  display: inline-block;
  padding: 5px;
  width: 30%;
  vertical-align: top;
}

.halfPartBlock {
  display: inline-block;
  padding: 5px;
  width: 48%;
  vertical-align: top;
}

.fullPartBlock {
  padding: 4px;
  width: 99%;
  vertical-align: middle;
}

.itemIndex {
  font-size: 15px;
  font-weight: normal;
  color: #FFF;
  text-align: center;
  /* text-decoration: underline; */
  background: #8EA786;
  padding: 5px 0;
  margin: 0px 0 5px 0;
  font-weight: 700;
  border-radius: 8px 8px 0px 0px;
}

.countriesBlock select {
  height: 200px;
  border: 1px solid #E5E5E5;
}

.imageBlock {
  margin-top: 20px !important;
}

.imageBlock .image {
  border: 1px solid #E5E5E5;
  background-color: #fafafa;
  height: 160px;
  text-align: center;
  margin-right: 91px;
  width: 235px;
  float: right;  
}

.imageBlock .image img {
  height: 160px;
  max-height: 160px;
  width: auto;
  max-width: 100%;
}

.imageBlock .browseInput {
  padding: 65px 0;
  float: left;
}

.imageBlock .clear {
  clear: both;
}

.buttons {
  display: block;
  margin: 10px;
  text-align: right;
}

.buttons button[name=save] {
    color: #FFFFFF;
    background: #8EA786;
    border-bottom: 3px solid #7E9377;
}

.buttons button[name=save]:hover{
    background-color: #8BA383;
}

.buttons button[name=next] {
    background: #BDC3C7;
    border-bottom: 3px solid #B0B0B0;
}

.buttons button[name=next]:hover{
    background-color: #BEBEBE;
}

.buttons button[name=cancel] {
    background: #E3685A;
    border-bottom: 3px solid #DD5B4C;
}

.buttons button[name=cancel]:hover{
  background: #DB6052;
}

.helpMessage { 
  position: relative;
  -webkit-box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 2px 8px rgba(0,0,0,.3);
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3); 
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  padding: 10px;
  border: 1px solid #EEE;
  background: #F8F8F8;  
}

.helpMessage:before,.helpMessage:after {
  content: "";
  display: table;
}

.helpMessage:after {
  clear: both;
}

.helpMessage {
  *zoom: 1;
}


.helpMessage img {
  float: left;
  padding: 5px;
}

.helpMessage p {
  padding: 1px;
  color: #636368;
  margin-bottom: 5px;
}

.textArea textarea{
  width: 99%
}

.readPrivileges {
  text-align: center;
  background-color: rgb(255, 205, 205);
  padding: 5px 0px;
  font-weight: bold;
  color: red;
}

/************* LOGIN *****************/
#loginFormContainer {
  margin: 10px 0;
  text-align: center;
}

#loginFormContainer .loginForm {
  background-color: #f1f1f1;
  margin: auto;
  padding: 15px;
  width: 310px;
  border-radius: 7px;
  border: 2px solid #F3F3F3;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.15);
}

#loginFormContainer .loginForm .fieldError {
  margin-top: 10px;
  font-weight: bold;
  margin-left: 60px;
}

#loginFormContainer .loginForm div {
  margin-bottom: 10px;
  margin: 15px 0;
  text-align: left;
}

#loginFormContainer .loginForm div label {
  display: block;
}

#loginFormContainer .loginForm div input {
  width: 98%;
}

#loginFormContainer .alreadyLogged {
  font-size: 20px;
}

#loginFormContainer .alreadyLoggedEmail {
  color: grey;
  font-size: 15px;
  font-weight: bold;
}

#reportComponent {
  margin: 5px;
}

#reportComponent thead {
  border-bottom: 2px solid;  
}

#reportComponent td, #reportComponent th {
  padding: 5px;
  width: 160px;
}
#reportComponent tbody tr {
  border-bottom: 1px solid #9D9D9D;
}

/*************** HOME DASHBOARD****************/

/*  Home page*/

#leftSide{
  float: left;
  padding: 0px 12px 0px 15px;
  width: 61%;
  vertical-align: top;
}

#dashboard {
  margin-bottom: 15px;
}

#dashboard .emptyMessage {
  padding: 15px;
  font-size: 15px;
  font-style: italic;
}

#dashboard #deadline{
  margin-top : 0;
}

#dashboard #rightSide{
  float: right;
  padding: 12px 0;
  width: 35%;
  vertical-align: top;
}

#dashboard #pandrDescription{
  text-align: justify;
  margin-bottom: 10px;
  padding-left: 10px;
  border-left: dashed 1px #B4B7C2;
}

#dashboard #pandrDescription p {
    color: #636363;
}

#imgPandR{
  text-align: center;
  padding: 10px 0px;
}

#imgModal{
  box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.35);
  margin-bottom:17px;
  margin-top:17px;
  margin-left:10px;
  text-align: center;
  width: 90%;
}

#imgBigModal{
  height: 650px;
  width: 600px;
  text-align: center;
}

#showPandRWorkflowDialog{
  width: 650px;
}

.homeTitle{
  font-size: 1.4em;
  color: #333;
  padding-bottom: 14px;
  padding-top: 5px;
}

.homeSubTitle{
  font-size: 0.9em;
  color: #333;
  margin-bottom: 5px;
  margin-top: 8px;
}

.role-content {
  padding: 0px 5px;
  color: #636363;
}

#dashboard #deadline #deadlineGraph {
  margin-bottom: 18px;
  margin-top: 10px;
  text-align: center;
}

#dashboard #deadline .point {
  margin: 0px 40px;
}

#dashboard #deadline .active {
  background: #5498B3;
  border-radius: 4.8em;
  -moz-border-radius: 4.8em;
  -webkit-border-radius: 4.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 4.6em;
  text-align: center;
  width: 4.6em; 
}
#dashboard #deadline .inactive {
  background: #C5DAE2;
  border-radius: 4.8em;
  -moz-border-radius: 4.8em;
  -webkit-border-radius: 4.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 4.6em;
  text-align: center;
  width: 4.6em; 
}

#dashboard #deadline .textPoint {
  display: inline-block;
  text-align: center;
  width: 135px;
}

#deadlineLine { 
border-left: 1px solid #ccc; 
height:5px; 
width:10px; 
} 

/*****************     PRE-PLANNING     ****************/

.partnerListMsj {
  margin: 18px 5px;
  font-size: 12px;
}

#removeDialog {
  text-align: left;
}

/* Outcomes 2025*/
#idosBlock .ido {
    padding: 0.5em;
    font-weight: bold;
    background: #FFFFFF;
    margin: 8px 20px 5px 20px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
}

#idosBlock .ido label { 
    font-weight: normal;
}

#idosBlock .ido .checkboxGroup.vertical { 
    padding: 0.2em 1.2em;
    margin: 0.3em 0.4em;
    border-left: 2px dotted #DDD;
}

#idosBlock .ido .checkboxGroup.vertical label { 
    font-weight: normal;
} 

/*********** Impact Pathways **********/

/* Outcomes 2025 */

#indicatorsFPLBlock {
  padding: 5px 15px;
}

#indicatorsFPLBlock .target input[type="text"] , input[name$="target"] {
  width: 99%;
}

#indicatorsFPLBlock .target  {
  padding: 6px 12px;
  margin: 5px 4px;
  border-left: 2px dotted #ccc;
}

.indicator, .contributions {
    padding: 2px 15px 5px 15px;
    border-bottom: 2px dotted #C3D4E7;
    margin: 2px 0px;
    background: #FFFFFF;
}

.contributions p#description {
  padding-bottom: 8px;
  padding-left: 10px;
}

.contributions .midOutcomeIndicators {
padding-left: 11px;
}

.indicator h6,.indicator label{
  float: left; 
}

.indicator label{
  margin: 0.5em 0.5em .2em 0 !important;
} 

.contentElements {
    border: 1px solid #ccc;
    /* border-top: 0; */
    border-radius: 10px 10px 6px 6px;
    margin: 12px 0px;
    width: 99%;
}
.contentElements textarea {
  width: 100%;
  height: 55px;
}

.contentElements .fields{
  padding: 0px 0 2px 14px;
  margin: 0px 0 10px 4px;
  border-left: 2px dotted #ccc;
}

.contentElements .fields .target {
  width: 20%;
}
.contentElements .fields .narrative {
  width: 96%;
}

.removeOutputBlock, .removeMidOutcomeBlock {
  position: absolute;
  top: 0;
  right: 0;
  background: #D5504C;
  border-radius: 0px 3px  0px 8px;
}

#ipGraph-content {
  height: 250px;
  margin-top: 10px; 
}

#ipGraph-buttonsGroup{
    position: absolute; 
    bottom: 3px;
    right: 3px;
}

button#ipGraph-btnPrint {
  background: url(../../images/global/download-icon.png)no-repeat center #2BA6CB;
}

button#ipGraph-btnMax {
  background: url(../../images/global/max-icon.png)no-repeat center #2BA6CB;
}

button#ipGraph-btnFullimpact, button#ipGraph-btnSingleimpact{
    position: absolute;  
    bottom: 3px;  
    left: 3px;
}

button.ipGraph-btn{
  height: 30px;
}

#ipGraph-button {
  border:1px solid #ccc;
  width: 45px;
  height: 45px;
  position: absolute;
  bottom: -6px;
  right: -20px;
  cursor:pointer;
  border-radius: 50%;
  background: url(../../images/global/ipGraph.png) no-repeat center;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.15);
}

#ipGraph-button:hover {
  background: url(../../images/global/ipGraph-hover.png) no-repeat center #57A7B5;  
}

.note {
  background-color: #FFF7CF;
  padding: 5px;
  text-align: center;
  border-bottom: 2px solid #fff;
  font-style: italic;
}

.note span {
  display: inline-block;
}

#outputs #addOutputBlock {
  text-align: center;
  margin-bottom: 30px;
}

.btnPrint{
  background: url(../../images/global/download-icon.png)no-repeat center #47939C !important;
  height: 30px;
  vertical-align: middle;
}

/********** Projects *********/

/* Project List */
.content .projectSubTitle {
  text-align: center;
  margin: 20px 0px 0px 0px;
  color: #4C4C4C;
  font-size: 1.5em;
  font-family: 'Open Sans', sans-serif;
}

/* projects List */

.projectsList #ids {
  width: 43px;
}

.projectsList #projectTitles {
  width: 440px;
}

.projectsList #projectRegions {
  width: 70px;
}

.projectsList #projectFlagships {
  width: 64px;
}

.projectsList #projectBudget {
  width: 90px;
}

.projectsList #lastModified {
  width: 80px;
  text-align: center;
}

.projectsList td {
  text-align: center;
  height:30px; 
  vertical-align: middle;
}

.projectsList td.left {
  text-align: left;
}

.projectsList a:HOVER {
  text-decoration: underline;
}

/* Project Description*/
textarea[id$='summary'] {
    height: 90px;
}

#projects .borderBox button {
  margin-top: 10px;
}

#projectWorking .checkboxGroup { 
  margin-left:8px
}

#projects .buttons {
  text-align: left;
}

#projectRegionsBlock {
    border: 1px dotted#ccc;
    padding: 12px 3px 23px 3px;
}
#projectFlagshipsBlock {
    border: 1px dotted#CCC;  
    padding: 11px 2px;
}

#projectRegionsBlock .checkboxGroup { 
   height: 67px;
}

#projectRegionsBlock .checkboxGroup label { 
   width: 41%;
}

#projects .note {
  font-style: italic;
  background-color: #F8F7E5;
  padding: 5px;
  text-align: center;
}

/* Project Partners*/

.projectPartner .filters-link {
  cursor: pointer;
  color: #848484;
  padding-left: 7px;
  margin-bottom: 7px;
}

.projectPartner .filters-link:hover {
 text-decoration:underline;
}

.projectPartner .filters-content {
  margin: 7px 0px;
  padding: 8px;
  border: 1px dotted #D2D2D2;
  display: none;
}


/* Project Budget */

.partnerTable tr.row {
  height: 30px;
}

#budgetTables {
  margin-top: 1.5em;
}

#leveraged h6,#bilateral h6 { 
   margin: 8px 0px;
}

#leveraged { 
  /* float: right; */ 
}

#leveraged .leveragedPartner {
  position: relative;
  height: 21px;
  padding: 8px 10px;
  margin: 2px 0;
  border: 1px dotted #ccc;
  border-radius: 4px;
}

#leveraged .leveragedPartner .amount {
    float:left;
    width: 24%;
}
#leveraged .leveragedPartner .name {
    position: relative;
    padding: 2px 0px;
    float:left;
    width: 74%;
}

#leveraged .leveragedPartner input {
  width: 95%
}

#bilateral { 
  float: left; 
}

#bilateral .bilateralPartner {
  position: relative;
  height: 45px;
}

#bilateral .bilateralPartner .amount {
    position: relative;
    width: 24%;
}

#bilateral .bilateralPartner input {
  width: 95%
}

.halfPanel {
  border: 2px solid #DFDFDF; 
  width: 46%;  
  margin: 13px 0;
  padding: 0.86em;
}

table tr.row:hover{
    background: #f5f5f5;
}

#totalBudgetByYear {
  float: right;
  padding: 0 24px 26px 0;
}


/***************** PLANNING ******************/

/** Project Outcomes **/
#projectOutcomes .fullBlock {
  margin: 20px 0px;
}

/*** Activities ***/
.location.row, #location-head {
  padding: 8px 10px;
  /* border: 1px solid #D6D6D6; */
  margin: 3px;
}

.location.selected {
   background: #EFECF7;
   box-shadow: 0px 0px 10px #CFCFCF;
}


.locationIndex {
  width: 2.2%;
  float: left;
}
.locationIndex strong {
  vertical-align: middle;
}

.location .removeButton {
  top: 12px;
  right: 3px;
}

.location select{
    width: 100%;
}

/* Activity Description*/

.officialLeader label {
    float: right;
  
    width: 97%;
    margin: 0;
}
.officialLeader input {
    float: left;
  
}

.crossCuttingDescription{
  position: relative;
width: 280px;
height: 110px;
padding: 5px;
background: #FFFFFF;

  color: #5E5E5E;
  -webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;

  border: #B5B5B5 solid 1px;
  text-align:justify;
}
.crossCuttingDescription:after{
  content: '';
position: absolute;
border-style: solid;
border-width: 20px 15px 20px 0;
border-color: transparent #FFFFFF;
display: block;
width: 0;
z-index: 1;
left: -15px;
top: 19px;
}
.crossCuttingDescription:before{
  content: '';
position: absolute;
border-style: solid;
border-width: 20px 15px 20px 0;
border-color: transparent #7F7F7F;
display: block;
width: 0;
z-index: 0;
left: -16px;
top: 19px;
}

/* Activity partners*/ 

.activityPartner .filters-link {
  cursor: pointer;
  color: #848484;
  padding-left: 7px;
  margin-bottom: 7px;
}

.activityPartner .filters-link:hover {
 text-decoration:underline;
}

.activityPartner .filters-content {
  margin: 7px 0px;
  padding: 8px;
  border: 1px dotted #D2D2D2;
  display: none;
}

/* Activity Locations */

#activityLocations-map{
    width: 99%; 
    height: 280px;
    border: 4px solid #EBEBEB;
    position: relative;
}
#activityLocations-map p.global {
  position: absolute;
  top: 42%;
  left: 40%;
  font-size: 4em;
  font-weight: bold;
  color: #FFF;
  text-shadow: 1px 1px 7px #616161;
}

#activityLocations-map .infoWindow{
  width: auto;
  height: 20px;
  text-align: center;
}

#activityGlobalBlock {
    padding-bottom: 20px;
}

#activityGlobalBlock input {
    vertical-align: middle;
}

#activityGlobalBlock label {
  width: 97%;
  float: right;
  margin: 0;
}

#activityLocations .location .select {
margin-bottom: 0px !important;
}

#activityLocations .uploadFileMessage .left {
  width: 30%;
}

#activityLocations .uploadFileMessage .right {
  margin-left: 8%;
  width: 58%;
}

#activityLocations .uploadFileMessage #icon {
  float: left;
}

#activityLocations .uploadFileMessage #downloadMessage {
  padding-left: 50px;
  text-align: center;
}

#activityLocations .uploadFileMessage {
  position: relative;
  -webkit-box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 2px 8px rgba(0,0,0,.3);
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 10px;
  border: 1px solid #EEE;
  background: #F8F8F8;
  margin-top: 20px;
  margin-bottom: 20px;
}

p#fileUploadText {
  margin: 30px 0;
}

#excelTemplate-file {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-top: 8px;
}
#excelTemplate-file-uploaded { 
    padding: 5px;
    margin-top: 8px;
}

#excelTemplate-file .removeButton{
    top: 20%;
}

.uploadFileMessage img.icon-check {
  vertical-align: bottom;
}

.step {
  width: 18px;
  height: 17px;
  /* position: absolute; */
  float: left;
  margin-right: 15px;
  font-weight: bold;
  color: #FFF;
  padding: 5px;
  background: #CCC;
  text-align: center;
  border-radius: 50%;
}

/* Activity Impact Pathway */

#activityImpactPathway .indicatorsBlock {
  padding: 7px 0px 6px 12px;
  margin: 8px 3px 6px 0px;
  border: 1px solid #E8E8E8;
  border-radius: 6px;
}

#activityImpactPathway  .midOutcomeIndicator {
  margin-bottom: 7px;
}

#activityImpactPathway .midOutcomeTitle p.description {
margin-bottom: 8px;
}

.mogsBlock {
    padding: 7px 0px 6px 12px;
  margin: 8px 3px 6px 0px !important;
    border: 1px solid #E8E8E8;
    border-radius: 6px;
}

.mogsBlock .mog{
  margin-bottom: 7px;
}


#activityImpactPathway .indicatorNarrative {
  padding: 5px 14px;
  margin: 5px 5px;
  border-left: 2px dotted #DEDEDE;
}


/****** REPORTING **********/
/********* Activity Reporting Sub Menu **********/
#stageMenu {
  display: block;
  margin: 5px 35px;
  text-align: center;
  position: relative;
}

#stageMenu li {
  background-image: url("../../images/global/sub-menu.png"); 
  background-repeat: no-repeat; 
  float: left;
  color: #585858;
  width: 174px; 
  height: 43px; 
}

#stageMenu li:hover {
  color: #000;
}

#stageMenu li.currentReportingSection , #stageMenu li.currentSection {
  background-image: url("../../images/global/sub-menu-selected.png"); 
  font-weight: bold;  
}

#stageMenu li.currentSection a{
  color: #fff;
}

#stageMenu li a {
  
  display: inline-block;
  /* margin-top: 6px; */ 
  width: 100%;
  height: 100%;
  padding-top: 13px;
  text-decoration: none;
  color: #444;
}


/* Customize the position, size, border color and background color.*/
aside[id="slider-breadcrumbs"] {
  right: 50% !important;
  margin-right: -41px !important;
}

aside[id="slider-breadcrumbs"] .slidr-breadcrumbs li {
  width: 12px !important;
  height: 12px !important;
  margin: 3px !important;
}

aside[id="slider-breadcrumbs"] .slidr-breadcrumbs li.normal {
  background-color: #74b9e4 !important;
  border-color: #74b9e4 !important;
}

aside[id="slider-breadcrumbs"] .slidr-breadcrumbs li.active {
  background-color: #fff !important;
}

/* Hide a single arrow within a single controller.*/
aside[id="slider-control"] .slidr-control.right:after {
  border-color: transparent !important;
}

/* Hide all arrows within a single controller.*/
aside[id="slider-control"] .slidr-control:after {
  border-color: transparent !important;
}

/* Hide all Slidr arrows.*/
aside[id*="-control"] .slidr-control:after {
  border-color: transparent !important;   
}

#slider .slide {
  width: 100%;
  height: 118px;
}

/* Activities */
.activityInformation .fullBlock.name{
  margin-bottom: 0px;
  padding: 2px 5px;
}

.activityInformation  .halfPartBlock{
  padding: 2px 5px;
}

.activityInformation .label{
  padding: 2px 5px;
  font-weight: bold;
}

.activityInformation ol{
  margin-top: 10px;
}

.activityInformation ol li{
  margin-bottom: 15px;
}

#country_locations{
  height: 219px;
  width: 100%;
}

#other_locations{
  height: 219px;
  width: 100%;
}

/*  
    This styles are aplied to the divs generated by the plugins
    used to show the maps  
*/

#country_locations  div[style]{
  display : block !important;
  position: static !important;
}

#country_locations > div + div[style]{
  display : none !important;  
}

/*** Glossary ***/
.wordTitle{
  font-size: 14px;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
}

.wordDefinition{
  padding: 0px 0px 5px 0px;
  text-align: justify;
}

.lastUpdate{
  font-size: 16px;
  font-weight: bold;
  float:right;
}

/************ ACTIVITIES ***************/


#i-addActivity{ 
  background:url('../../images/global/sprite-icons-activities.png') 0 0; 
}
#i-checkedActivity{ 
  background:url('../../images/global/sprite-icons-activities.png') 0 -24px; 
}
#i-errorCheckedActivity{ 
  background:url('../../images/global/sprite-icons-activities.png') 0 -45px; 
}
button#activities_save{ 
  background: url('../../images/global/sprite-icons-activities.png') 0 -67px no-repeat; 
  border:none;
  width: 100%;
  color: #630;
  font-size: 13px;
}
#i-neutralActivity{ 
  background:url('../../images/global/sprite-icons-activities.png') 0 -90px; 
}
#i-submitActivity{ 
  background:url('../../images/global/sprite-icons-activities.png') 0 -150px; 
}


/* Activity List */
.activityList {
  margin-top: 20px;
}

.activityList #id {
  width: 20px;
}

.activityList #activity {
  width: 440px;
}

.activityList #contactPerson {
  width: 100px;
}

.activityList #leaderName {
  width: 100px;
}

.activityList #validated {
  width: 64px;
}

.activityList #theme {
  width: 76px;
}

.activityList #lastModified {
  width: 80px;
  text-align: center;
}

.activityList td {
  text-align: center;
}

.activityList td.left {
  text-align: left;
}

.activityList a:HOVER {
  text-decoration: underline;
}

/** Activity Status **/
#activityTitle p {
  text-align: justify;
}

#activityDescription p {
  text-align: justify;
}

#generalInformation .title {
  font-weight: bold;
}

#generalInformation td {
  width: 160px;
  padding: 3px;
}

/* Deliverables */
#items #fileNameMessage {
  display: none;
}

ul#deliverablesFilesMessages > li {
  margin-bottom: 10px;
}

/*** Contact Persons (popup) ***/
#contactPersons {
  display: none;
}

#contactPersonsTable th {
  background-color: #A6A6A6;
  border: 1px solid;
  padding: 0.2em;
  text-align: center;
}

#contactPersonsTable td {
  background-color: white;
  border: 1px solid;
  padding: 0.3em 0.5em;
}

/* Partners */
#addPartnerText {
  /* background-color: #F2F2F2; */
  /* border: 1px solid #29336F; */
  /* padding: 10px; */
  /* color: #29336F; */
}
#addPartnerText a {
  /* font-weight: bold; */
}
#addPartnerText a:hover {
  text-decoration: underline;
}

/* Publications */

.borderBox, .publication, .caseStudy, .outcome, .output, .midOutcome, .leverage, .deliverable, .activityPartner, .otherSite {
  border: 1px solid #D1D1D1;
  padding: 20px 15px 18px 15px;
  border-radius: 4px;
  margin: 18px 0px;
  position: relative;
  transition:box-shadow 0.1s linear;*
  
}

.borderBox:hover{
  box-shadow: 0px 0px 10px rgba(0,0,0,0.18);
  border: 1px solid #D3D3D3;
}

.borderBox:active{
  box-shadow: 0px 0px 12px rgba(0,0,0,0.24);
}

.borderBox > legend {
  text-align: left;
  border: 0;
  position: absolute;
  top: -10px;
  left: 36%;
  background: rgba(255,255,255,0.7);
  width: auto;
  padding: 0 6px;
  font-weight: bold;
  border-radius: 40px;
  font-size: 1.15em;
  color: #5A5A5A;
}

.borderBox >span#index {
position: absolute;
top: 0px;
left: 0px;
background: #CECECE;
color: #FFF;
padding: 0px 6px;
font-weight: bold;
border-radius: 3px 0px 3px 0px;
}

.borderBox:before,.borderBox:after {
  content: "";
  display: table;
}

.borderBox:after {
  clear: both;
}

.borderBox {
  *zoom: 1;
}

#publications .journalArticlesIndicators .checkbox h6{
  font-weight: normal;
  font-size: 11px;
}

#publications .checkbox input{
  float: left;
  margin-left: 10px;
}

#publications .checkbox > label {
  float: right;
  width: 95%;
}


#publications .checkboxGroup .checkboxLabel {
    width: 46%;
}

#publications .journalArticlesIndicators,
#publications #ccafsAcknowledge{
  margin-bottom: 25px;
}

/******** SUMMARY BY OUTPUTS ***********/
.outputTitle {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 5px;
}

.outputDescription {
  margin-bottom: 10px;
}

#outputSummary .outputSummary .textArea h6 {
  display: none;
}
/*********** PUBLICATIONS **************/
/*********** CASE STUDIES **************/
/************* OUTCOMES ****************/
.outcome .textArea h6 {
  /* font-weight: normal; */
}

/************* INDICATORS ****************/
#indicators .toggleDescription{
  cursor: pointer;
  font-size: 11px;
  margin-left: 10px;
}

/************ TL/RPL ONLY **************/
/* TL/RPL Sub-Menu */
#stageMenu.tlRplSubMenu ul a li {
   font-size: 12px;
   margin-top: 2px;
   width: 110px;
   margin-left: -36px;
}

/* TL Outputs */
#outputsGroup .textArea h6 {
  display: none;
}
/* TL/RPL Synthesis Report */
#synthesisReport .textArea h6 {
  font-weight: normal;
}
/* TL/RPL Milestone Report*/
#tlRplMilestones legend {
  font-size: 15px;
  font-weight: bold;
}

#tlRplMilestones .milestoneReportTitle {  
  font-size: 12px;
  margin-bottom: 10px;
}

#tlRplMilestones .milestoneReportDescription {
  font-style: italic;
  margin-bottom: 10px;
}

.milestoneReportStatus {
  margin-bottom: 10px;
}

.tlDescription, .rplDescription {
  margin-bottom: 10px;
}

/* -------------- SUMMARIES -----------------*/

#activitiesSummaries h6{
  margin-top : 10px;
  margin-bottom : 5px;
}

#activitiesSummaries .reportOptions{
  margin-top : 5px;
  margin-left : 30px;
}

#activitiesSummaries .thirdPartBlock{
  width: 25%;
}

#activitiesSummaries .thirdPartBlock .input input{
  width: 35%;
}

#activitiesSummaries .selectList{
  width: 39%;
}

/*************** FOOTER ****************/
footer {
background: #E0E0E0;
}

#footerContainer {
  /*background-image: url("../../images/global/footer-background.png");*/
  background-position: right bottom;
  background-repeat: no-repeat;
  clear: both;
  height: 200px;
  padding-top: 50px;
  text-align: left;
  color: #5A5A5A;
}

#footerContainer.little {
  /* background-image: url("../../images/global/footer-background-small.png"); */
  height: 80px;
  background-size: 50%;
}

#centres-logos {
    text-align: center;  
}
#centres-logos img{
    margin:10px 
}

#footerContainer #centres-logos {
  margin-left: 40px;  
}

#footerContainer #centres-logos img {
  margin-left: 5px;
}

#footerContainer #secondaryLogos {
  float: right;
}

#footerContainer #rowTwo {
  margin-top: 30px;
}

#footerContainer #reportIssue {
  float: left;
  margin-left: 60px;
  margin-top: 15px;
  font-weight: lighter;
}

#footerContainer #copyright {
  float: right;
  font-weight: bold;
  margin-right: 10px;
  margin-top: 15px;
  text-align: right;
}

#glossary{
  float:right;
  margin-left: 60px;
  margin-top: 15px;
  font-weight: lighter;
}
