#expectedDeliverablesGroup {
  margin-top: 15px;
}

/* Style to expected deliverable blocks */
.removeLink {
  float: right;
  clear: both;
}

.fullBlock h6,.thirdPartBlock h6 {
  margin-bottom: 5px
}

.checkboxGroup input {
  margin-left: 0px;
}

.checkboxGroup .checkboxLabel {
  display: inline-block;
  width: 30%;
  padding: 3px;
}

.addDeliverable {
  display: block;
  margin-bottom: 20px;
}

/*
  The styles below are applied in the pop up window
*/
.fullBlock p{
  text-align: left;
  margin-bottom: 10px;
}

.fullBlock input{
  width:  500px;
  margin-bottom: 5px
}