.halfContent .status {
  margin-top: 20 px;
  float: left;
}

#contactPersons {
  display: none;
}

#contactPersonsTable th {
  background-color: #A6A6A6;
  border: 1px solid;
  padding: 0.2em;
  text-align: center;
}

#contactPersonsTable td {
  background-color: white;
  border: 1px solid;
  padding: 0.3em 0.5em;
}