#activityTitle p {
  text-align: justify;
}

#activityDescription p {
  text-align: justify;
}


#generalInformation .title {
  font-weight: bold;
}

#generalInformation td {
  width: 160px;
  padding: 3px;
}

/*** Contact Persons (popup) ***/

#contactPersons {
  display: none;
}

#contactPersonsTable th {
  background-color: #A6A6A6;
  border: 1px solid;
  padding: 0.2em;
  text-align: center;
}

#contactPersonsTable td {
  background-color: white;
  border: 1px solid;
  padding: 0.3em 0.5em;
}