#expectedDeliverables{  margin-top: 15px; }

/* Style to expected deliverable blocks */

.removeLink { float: right; clear: both;}

.fullBlock h6 , .thirdPartBlock h6 {  margin-bottom: 5px}

.checkboxGroup .checkbox{  
  display: inline-block;
  width: 30%;
  padding : 5px;    
}

#reportingDeliverable{  display: none;  }