# -----------------------------------------------
#                 TEST MODE
# ------------------------------------------------
ccafsap.production = false

# ------------------------------------------------ 
#             Database connection
# ------------------------------------------------

# LocalHost
mysql.host=localhost
mysql.user=root
mysql.password=123
mysql.database=database_name

mysql.port=3306

# ------------------------------------------------
#             Platform variables
# ------------------------------------------------

# This variable should be configured in each WAR project
ccafsap.baseUrl=https://localhost:8443/impactPathways/

# Application properties
ccafsap.planning.currentYear=2015
ccafsap.planning.startDate=YYYY-MM-DD
ccafsap.reporting.currentYear=2014
ccafsap.reporting.startDate=YYYY-MM-DD
ccafsap.startYear=2010
ccafsap.endYear=2015
ccafsap.midOutcome.revisionYear=2019

ccafsap.planning.future.years.active=true
ccafsap.planning.future.years=3

# Is pre-planning section active?
ccafsap.preplanning.active=true

# Is planning section active?
ccafsap.planning.active=true
ccafsap.planning.closed=true

# Is reporting section active?
ccafsap.reporting.active=true
ccafsap.reporting.closed=false

# Is summaries section active?
ccafsap.summaries.active=true

# System is closed for editing
ccafsap.isClosed=false
# ------------------------------------------------
#             Files upload configuration
# ------------------------------------------------

# Resource path
resource.path=D:/DESARROLLO/PHP/xampp/htdocs/ccafspr_ip/XLS_Template

# Maximum size allowed
file.maxSizeAllowed.bytes=3145728

# Base folder where files will be moved
file.uploads.baseFolder=D:/DESARROLLO/XAMPP/htdocs/ccafspr_ip/

# folder to upload case studies (this folder will be inside the base folder)
file.uploads.caseStudiesImagesFolder=caseStudies/

# folder to upload locations templates (this folder will be inside the base folder)
file.uploads.locationsTemplateFolder=locationsTemplate/

# folder that will contain the files related to a project
file.uploads.projectsFolder=projects/

# folder to upload project work plans
file.uploads.project.WorkplanFolder=workplan/





# folder to upload bilateral project contract proposal
file.uploads.project.bilateralProposalFolder=bilateralProposal/

file.uploads.project.bilateralPAnualReport=anualReport/

# URL where the files uploaded can be downloaded
file.downloads=localhost/ccafspr_ip/

# ------------------------------------------------
#             Email account
# ------------------------------------------------

# Mail configuration
email.user=
email.password=
email.host=
email.port=
email.notification=

# ------------------------------------------------
#             Logger properties
# ------------------------------------------------

log.folder=D:/Hernan/Desarrollo/ccafs-ap/ccafsap-logs/
log.console=true
log.file=false
!Production log only shows logs of type info, warn and error 
log.production=true
!Test log shows logs of all types trace, debug, info, warn and error 
log.test=false